#sidebar{
  width: 180px;
  padding-left: 5px;
  border-right: 1px solid rgb(202, 199, 199);
  
  background-color: white;
  height:100%; 
  position: fixed;
  overflow-x: scroll;
  overflow-y: auto;
}
#sidebar::-webkit-scrollbar-track  {
  width: 80px;
  background-color: black;
  color: aliceblue;
}

.sidebar-btns{
  display: block;
  text-decoration: none;
  color: rgb(109, 106, 106);
  cursor: pointer;
  
}
.sidebar-btns:hover{
  color: rgb(17, 17, 17);

  background-color: rgb(233, 230, 230);
  font-weight: bold;
  border-right: 4px solid rgba(255, 115, 0, 0.815);
}
.sidebar-btns::selection{
  background-color: rgb(221, 11, 11);
}