.font-14{
  font-size: 14px;
}

.margin{
  margin-left: 228px;
}

@media (max-width:767px) {
.margin{
  margin-left: 0px;
}
}
@media (min-width:768px) and (max-width:1199px) {
.margin{
  margin-left: 180px;
}
}